.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
}

button {
  margin: 2px;
  width: 30px;
  background: none;
  border: 1px #ccc solid;
  cursor: pointer;
}

button:hover {
  background: whitesmoke;
}
